.gradient {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    ellipse at 100% 50%,
    rgba(12, 11, 17, 1) 0%,
    rgba(70, 0, 0, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    ellipse at 100% 50%,
    rgba(12, 11, 17, 1) 0%,
    rgba(70, 0, 0, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    ellipse at 100% 50%,
    rgba(12, 11, 17, 1) 0%,
    rgba(70, 0, 0, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    ellipse at 100% 50%,
    rgba(12, 11, 17, 1) 0%,
    rgba(70, 0, 0, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    ellipse at 100% 50%,
    rgba(12, 11, 17, 1) 0%,
    rgba(70, 0, 0, 1) 100%
  );
}
